
"-------------GENERAL SETTINGS--------------"
set showmode                    " always show what mode we're currently editing in "
set nowrap                      " don't wrap lines "
set backspace=indent,eol,start  " allow backspacing over everything in insert mode "
set visualbell                  " don't beep "
set noerrorbells                " don't beep "
set timeout timeoutlen=3000 ttimeoutlen=10
set clipboard+=unnamed
set relativenumber
set number
let mapleader=" "

" Use Q for formatting the current paragraph (or selection)
vmap Q gq
nmap Q gqap

"-------------SEARCH--------------"
highlight Search cterm=underline
set ignorecase                              " ignore case when searching "
set smartcase                               " ignore case if search pattern is all lowercase "
set hlsearch                                " Highlight all matched terms. "
set incsearch                               " Incrementally highlight, as we type. "

nmap ,<space> :nohlsearch<cr>


"-------------INDENTION--------------"
set autoindent                  " always set autoindenting on "
set copyindent                  " copy the previous indentation on autoindenting "


"-------------TABS--------------"
set smarttab
set tabstop=4                   " a tab is four spaces "
set softtabstop=4               " when hitting <BS>, pretend like a tab is removed, even if spaces "
set expandtab                   " expand tabs by default (overloadable per file type later) "
set shiftwidth=4                " number of spaces to use for autoindenting "
set shiftround                  " use multiple of shiftwidth when indenting with '<' and '>' "

" Splits open at the bottom and right, which is non-retarded, unlike vim defaults.
	set splitbelow splitright
"-------------Split Management--------------"
" Split Default Layout"
    set splitbelow
    set splitright
    set fillchars+=stl:\ ,stlnc:\ "
    hi VertSplit cterm=none ctermfg=red ctermbg=none

" Opening splits "
    nmap vsp :vsplit<cr>
    nmap sp :split<cr>

" Shortcutting split navigation, saving a keypress:
	map <C-h> <C-w>h
	map <C-j> <C-w>j
	map <C-k> <C-w>k
	map <C-l> <C-w>l


" Idea Vim Plugins
"
"
set ideajoin
set easymotion
set nowritebackup
" all leader mappings


nmap <leader>0 <action>(GotoBookmark0)
nmap <leader>1 <action>(GotoBookmark1)
nmap <leader>2 <action>(GotoBookmark2)
nmap <leader>3 <action>(GotoBookmark3)
nmap <leader>4 <action>(GotoBookmark4)
nmap <leader>5 <action>(GotoBookmark5)
nmap <leader>6 <action>(GotoBookmark6)
nmap <leader>7 <action>(GotoBookmark7)
nmap <leader>8 <action>(GotoBookmark8)
nmap <leader>9 <action>(GotoBookmark9)


" Map leader keys to goto bookmarks A-Z
nmap <leader>a <action>(GotoBookmarkA)
nmap <leader>b <action>(GotoBookmarkB)
nmap <leader>c <action>(GotoBookmarkC)
nmap <leader>d <action>(GotoBookmarkD)
nmap <leader>e <action>(GotoBookmarkE)
nmap <leader>f <action>(GotoBookmarkF)
nmap <leader>g <action>(GotoBookmarkG)
nmap <leader>h <action>(GotoBookmarkH)
nmap <leader>i <action>(GotoBookmarkI)
nmap <leader>j <action>(GotoBookmarkJ)
nmap <leader>k <action>(GotoBookmarkK)
nmap <leader>l <action>(GotoBookmarkL)
nmap <leader>m <action>(GotoBookmarkM)
nmap <leader>n <action>(GotoBookmarkN)
nmap <leader>o <action>(GotoBookmarkO)
nmap <leader>p <action>(GotoBookmarkP)
nmap <leader>q <action>(GotoBookmarkQ)
nmap <leader>r <action>(GotoBookmarkR)
nmap <leader>s <action>(GotoBookmarkS)
nmap <leader>t <action>(GotoBookmarkT)
nmap <leader>u <action>(GotoBookmarkU)
nmap <leader>v <action>(GotoBookmarkV)
nmap <leader>w <action>(GotoBookmarkW)
nmap <leader>x <action>(GotoBookmarkX)
nmap <leader>y <action>(GotoBookmarkY)
nmap <leader>z <action>(GotoBookmarkZ)


" Toggle bookmarks for 0-9
nmap '0 <action>(ToggleBookmark0)
nmap '1 <action>(ToggleBookmark1)
nmap '2 <action>(ToggleBookmark2)
nmap '3 <action>(ToggleBookmark3)
nmap '4 <action>(ToggleBookmark4)
nmap '5 <action>(ToggleBookmark5)
nmap '6 <action>(ToggleBookmark6)
nmap '7 <action>(ToggleBookmark7)
nmap '8 <action>(ToggleBookmark8)
nmap '9 <action>(ToggleBookmark9)


" Toggle bookmarks for a-z
nmap 'a <action>(ToggleBookmarkA)
nmap 'b <action>(ToggleBookmarkB)
nmap 'c <action>(ToggleBookmarkC)
nmap 'd <action>(ToggleBookmarkD)
nmap 'e <action>(ToggleBookmarkE)
nmap 'f <action>(ToggleBookmarkF)
nmap 'g <action>(ToggleBookmarkG)
nmap 'h <action>(ToggleBookmarkH)
nmap 'i <action>(ToggleBookmarkI)
nmap 'j <action>(ToggleBookmarkJ)
nmap 'k <action>(ToggleBookmarkK)
nmap 'l <action>(ToggleBookmarkL)
nmap 'm <action>(ToggleBookmarkM)
nmap 'n <action>(ToggleBookmarkN)
nmap 'o <action>(ToggleBookmarkO)
nmap 'p <action>(ToggleBookmarkP)
nmap 'q <action>(ToggleBookmarkQ)
nmap 'r <action>(ToggleBookmarkR)
nmap 's <action>(ToggleBookmarkS)
nmap 't <action>(ToggleBookmarkT)
nmap 'u <action>(ToggleBookmarkU)
nmap 'v <action>(ToggleBookmarkV)
nmap 'w <action>(ToggleBookmarkW)
nmap 'x <action>(ToggleBookmarkX)
nmap 'y <action>(ToggleBookmarkY)
nmap 'z <action>(ToggleBookmarkZ)

" Error and Warnings
nmap ]e <action>(GotoNextError)
nmap [e <action>(GotoPreviousError)

" Goto
nmap gD <action>(GotoTypeDeclaration)
nmap gi <action>(GotoImplementation)
nmap gu <action>(FindUsages)
nmap gp <action>(ParameterInfo)
nmap gm <action>(Git.Menu)
nmap gt <action>(ExpressionTypeInfo)
nmap S <action>(AceWordStartAction)
